* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
html {
    font-size: 14px;
}
body {
    background: #081229;
}
fieldset {
    border: 0 none;
}
ul {
    list-style: none;
}
a {
    color: #fff;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #61dafb;
}
::-webkit-scrollbar-track {
    background: #282c34;
}
